<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="600"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--1073741824 bytes i.e 1 GB-->
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>