<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--development-->
    <add key="AMUrl" value="https://uat2-server.auctionmobility.com/" />
    <!--<add key="AMUrl" value="https://production2-server.auctionmobility.com/" />-->
    <!--<add key="SuiteUrl" value="http://202.66.175.164/suitecrm/service/v4_1/rest.php" />-->
    <add key="SuiteUrl" value="http://202.66.175.164/suiteuat/service/v4_1/rest.php" />
    <add key="SuiteUsername" value="admin" />
    <add key="SuitePassword" value="42F749ADE7F9E195BF475F37A44CAFCB" />
    <!--<add key="AccessToken" value="1-12CCCX-7edb8c94-b5f7-4cac-89bb-4ab95dae7bdc" />-->
    <add key="AccessToken" value="1-BVWU3-93e60cfb-e4ba-4956-9808-b98ae5e84e8e" />
    <!--<add key="TraceLogLogFilePath" value="\TraceLog\"/>-->

    <add key="mail_From" value="am@pundoles.com" />
    <add key="mail_To" value="vaishali.bhalerao@ambitsoftware.com,gaurav.mulik@ambitsoftware.com" />
    <add key="Smtp_Mail_Server" value="smtp.gmail.com" />
    <add key="SmtpServer_UserID" value="am@pundoles.com" />
    <add key="SmtpServer_password" value="Pearl123$%" />
    <add key="SmtpServer_port" value="587" />

    <!--<add key="mail_From" value="testcrm@ambitsoftware.in" />
    <add key="mail_To" value="vaishali.bhalerao@ambitsoftware.com,dayanand.patil@ambitsoftware.com" />
    <add key="Smtp_Mail_Server" value="mail.ambitsoftware.in" />
    <add key="SmtpServer_UserID" value="testcrm@ambitsoftware.in" />
    <add key="SmtpServer_password" value="testcrm@1234%" />
    <add key="SmtpServer_port" value="25" />-->
    
    
    <add key="TraceLogFileName" value="AMIntegrationResponce" />
    <add key="TraceLogFilePath" value="\TraceLog\" />
    <add key="IsTraceEnable" value="1" />

    <add key="Log_File_Path" value="C:\AMIntegrationLog\" />
    <add key="Log_Filename" value="AMIntegrationServie" />
    <add key="IsLogMessageEnable" value="1" />

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <remove name="HttpSoap" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5" />
    <!--<webServices>
      <protocols> 
        <remove name="Documentation" />
      </protocols>
    </webServices>-->
    <!--1048576 kilobytes i.e 1 GB-->
    <httpRuntime maxRequestLength="1048576" executionTimeout="600" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <!--For IIS7 and above , we need to use below configuration-->
  <system.webServer>
    <security>
      <requestFiltering>
        <!--1073741824 bytes i.e 1 GB-->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>